
<footer class="footer bg-dark text-center">
    <div class="container">
      <p>
        <small> Copyright &copy; Your Website {{anio}} </small>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-google-plus-square"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-youtube-square"></i>
      </p>
    </div>
</footer>
<!-- <footer id="sticky-footer" class="py-4 bg-dark text-white-50"> 
  <div class="container text-center">
    <small> Copyright &copy; Your Website </small>
    <div class= "container text-white-50">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-google-plus-square"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-youtube-square"></i>
    </div>
  </div>

</footer>-->
