/* You can add global styles to this file, and also import other style files */
footer{
    color: white;
    position: fixed;    
    bottom: 0px;
    width: 100%;
}
footer i {
    /*display: inline-block;
    font-size: 17px;*/
    margin: 4px 2px;
    /*cursor: pointer;*/
}